In [4]:
#импортируем библиотеку pandas и дает ей псевдоним pd
import pandas as pd

Series – структура данных в pandas, которая представляет собой одномерный массив. Аналогом такого одномерного массива в python являются списки. 
В списке можно обращаться к элементу по его индексу, который всегда является порядковым номером элемента. В отличие от списка, в Series индексами могут быть не только порядковые номера, но что угодно другое, например даты, названия компаний, идентификаторы участников опроса и т.д.

In [5]:
#создаем одномерный массив с индесами (Series) и выводим его на экран с помощью функции print()
test_series = pd.Series(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'], 
                        index = ['1 day', '2 day', '3 day', '4 day', '5 day','6 day', '7 day'])

print(test_series)

1 day       monday
2 day      tuesday
3 day    wednesday
4 day     thursday
5 day       friday
6 day     saturday
7 day       sunday
dtype: object

In [6]:
#обращаемся к значению в массиве через идекс
test_series['1 day']

'monday'

In [7]:
#для сравнения создаем обычный список в python. индексы здесь будут уже числовые и начинаются с 0
python_series = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
print(python_series)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [8]:
#образаемся к эелементу списка через индекс
python_series[0]

'monday'

DataFrame – структура данных в pandas, которую можно представлять в виде таблицы. Есть атрибуты (столбцы) и значения (строки). Столбцы являются объектами Series, элементы которых составляют строки в DataFrame.

In [9]:
#создание датафрейма через словарь (по столбцам). Задаем название столбца и потом перечисляем все его значения
df = pd.DataFrame({'Name of day': ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'], 
                    'Type of day': ['working', 'working', 'working', 'working', 'working', 'holiday', 'holiday'] })

df

  Name of day Type of day
0      monday     working
1     tuesday     working
2   wednesday     working
3    thursday     working
4      friday     working
5    saturday     holiday
6      sunday     holiday

In [10]:
#создаем датафрейм через списки (по строкам)
df1 = pd.DataFrame([['monday', 'working'], 
                    ['tuesday', 'working'],
                    ['wednesday', 'working'],
                    ['thursday', 'working'],
                    ['friday', 'working'],
                    ['saturday', 'holiday'],
                    ['sunday', 'holiday']],
                    columns = ['Name of day', 'Type of day'])

df1

  Name of day Type of day
0      monday     working
1     tuesday     working
2   wednesday     working
3    thursday     working
4      friday     working
5    saturday     holiday
6      sunday     holiday

Считывание файлов. 
Pandas позволяет считывать различные форматы файлов, преобразовывать из в датафрейм и дальше работать с данными. Можно работатьс файлами csv, xls, xlsx, json и др. 
Для файлов формата csv есть дополнительные параметры, которые помогают считывать данные правильно
sep — разделитель данных, по умолчанию ',';
decimal — разделитель числа на целую и дробную часть, по умолчанию'.';
names — список с названиями колонок (не обязательный параметр);
skiprows — если файл содержит ненужные строки сверху, которые нужно пропустить (не обязательный параметр).

In [11]:
#считываем файл csv
sales = pd.read_csv('sales.csv')

#выводим только первые 5 записей датафрейма с помощью метода head(), либо указать количество строк в скобках. 
# можно также вывести последние 5 записей с помощью tail()
sales.head()

   sales_id  time_id  product_id  region_id  transaction_amount
0         4      868         227        154              -39864
1         5      436         684        724               79272
2         6      529         176        478              -33632
3         7      146          16        891               87806
4         8      483         657        790               98243

In [12]:
#считываем остальные датасеты
products = pd.read_csv('products.csv')
time = pd.read_csv('time.csv')

In [13]:
products.head()

   product_id          product_name  product_description
0           1    Puff Pastry - Slab                  NaN
1           2     Lamb - Loin Chops                  NaN
2           3  Flour - Fast / Rapid                  NaN
3           4            Dried Figs                  NaN
4           5    Cheese Cloth No 60                  NaN

In [14]:
time.head()

,time_id,time_datetime,time_year,time_month,time_day,time_hour,time_minute,time_second,time_day_of_week
0,1,2017-10-11 19:52:57,2017,10,11,19,52,57,4
1,2,2018-01-24 19:15:24,2018,1,24,19,15,24,4
2,3,2017-12-06 19:45:58,2017,12,6,19,45,58,4
3,4,2013-12-02 21:52:36,2013,12,2,21,52,36,2
4,5,2014-12-14 02:05:11,2014,12,14,2,5,11,1

In [15]:
#считываем файл json
regions = pd.read_json('regions.json')
regions_df = pd.json_normalize(regions['regions'])
regions_df

     region_id     region_name region_description
0            1       Indonesia               None
1            2        Portugal               None
2            3     Netherlands               None
3            4      Madagascar               None
4            5          Russia               None
..         ...             ...                ...
995        996     Philippines               None
996        997           China               None
997        998  Czech Republic               None
998        999   United States               None
999       1000          Russia               None

[1000 rows x 3 columns]

In [16]:
#получаем базовую информацию о датафрейме с помощью метода info()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sales_id            1000 non-null   int64
 1   time_id             1000 non-null   int64
 2   product_id          1000 non-null   int64
 3   region_id           1000 non-null   int64
 4   transaction_amount  1000 non-null   int64
dtypes: int64(5)
memory usage: 39.2 KB

In [17]:
import pandas_profiling

In [18]:
sales.profile_report()

Summarize dataset:  86%|████████▌ | 37/43 [00:14<00:02,  2.55it/s, Missing diagram bar]

KeyboardInterrupt:

In [19]:
sales.columns

Index(['sales_id', 'time_id', 'product_id', 'region_id', 'transaction_amount'], dtype='object')

Воспроизводим подобие SQL запроса 
select *
from sales 
where transaction_amount >= 80000
order by transaction_amount;

Больше информации про сравнение SQL и Pandas можно найти здесь https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

In [20]:

sales[sales['transaction_amount'] >= 80000].sort_values('transaction_amount')

     sales_id  time_id  product_id  region_id  transaction_amount
546       550      738         509        621               80858
755       759      804         553        764               80933
357       361      899         174         55               80988
726       730      915         255        622               81055
226       230      492         321        627               81125
..        ...      ...         ...        ...                 ...
178       182      908         786         16               98752
881       885      563          89        721               98761
772       776       82         954        159               98843
534       538       22         308        737               99651
38         42      139          83        400               99709

[100 rows x 5 columns]

In [21]:
products[products['product_name'].str.contains('^C')]

     product_id              product_name  product_description
4             5        Cheese Cloth No 60                  NaN
6             7      Cinnamon Buns Sticky                  NaN
8             9           Chicken - Bones                  NaN
16           17     Corn Kernels - Frozen                  NaN
21           22   Chips - Potato Jalapeno                  NaN
..          ...                       ...                  ...
969         970  Compound - Passion Fruit                  NaN
976         977        Crush - Cream Soda                  NaN
978         979     Coffee - Beans, Whole                  NaN
982         983                   Calaloo                  NaN
990         991  Chestnuts - Whole,canned                  NaN

[148 rows x 3 columns]

In [22]:
sales[['sales_id', 'transaction_amount']][sales['transaction_amount'] > 0]

     sales_id  transaction_amount
1           5               79272
3           7               87806
4           8               98243
5           9               70617
6          10               15843
..        ...                 ...
990       994               59098
995       999               94708
997      1001               69121
998      1002               53607
999      1003               83106

[494 rows x 2 columns]

In [23]:
import numpy as np

агрегации (среднее продаж по регионам) с фильтрацией
select region_id, avg (transaction_amount) as avg_amount
from sales 
group by region_id
having avg_amount > 50000
order by avg_amount;

In [24]:
sales = sales.groupby('region_id').agg({'transaction_amount': np.mean})
sales[sales['transaction_amount'] > 50000]

           transaction_amount
region_id
3                     51997.0
27                    53460.0
30                    61984.0
34                    60286.0
68                    62221.5
...                       ...
929                   78140.0
973                   62463.0
986                   83383.0
996                   59098.0
997                   86979.0

[104 rows x 1 columns]

In [25]:
sales = pd.read_csv('sales.csv')
sales_products = pd.merge(sales, products,  on = 'product_id')
sales_products

,sales_id,time_id,product_id,region_id,transaction_amount,product_name,product_description
0,4,868,227,154,-39864,Chickensplit Half,NaN
1,278,634,227,246,-29243,Chickensplit Half,NaN
2,5,436,684,724,79272,"Soup - Beef Conomme, Dry",NaN
3,922,297,684,747,577,"Soup - Beef Conomme, Dry",NaN
4,6,529,176,478,-33632,Tea - Earl Grey,NaN
...,...,...,...,...,...,...,...
995,994,1,166,996,59098,Canada Dry,NaN
996,998,266,899,393,-76634,Compound - Passion Fruit,NaN
997,999,178,253,961,94708,Soup V8 Roasted Red Pepper,NaN
998,1000,603,315,10,-68442,"Crab - Claws, Snow 16 - 24",NaN
999,1002,345,113,512,53607,"Shrimp - 16/20, Iqf, Shell On",NaN

In [26]:
sales_products_regions = pd.merge(sales_products, regions_df, on = 'region_id')
sales_products_regions

,sales_id,time_id,product_id,region_id,transaction_amount,product_name,product_description,region_name,region_description
0,4,868,227,154,-39864,Chickensplit Half,NaN,Pakistan,None
1,882,940,572,154,59358,Compound - Rum,NaN,Pakistan,None
2,278,634,227,246,-29243,Chickensplit Half,NaN,Philippines,None
3,424,331,986,246,-64625,Spinach - Baby,NaN,Philippines,None
4,5,436,684,724,79272,"Soup - Beef Conomme, Dry",NaN,Poland,None
...,...,...,...,...,...,...,...,...,...
995,954,478,256,781,11099,Meldea Green Tea Liquor,NaN,China,None
996,956,137,671,90,-85118,Sprouts Dikon,NaN,China,None
997,966,474,423,40,1333,"Fish - Base, Bouillion",NaN,Philippines,None
998,994,1,166,996,59098,Canada Dry,NaN,Philippines,None
999,1002,345,113,512,53607,"Shrimp - 16/20, Iqf, Shell On",NaN,Iran,None

In [27]:
final_df = pd.merge(sales_products_regions, time, on = 'time_id')
final_df

,sales_id,time_id,product_id,region_id,transaction_amount,product_name,product_description,region_name,region_description,time_datetime,time_year,time_month,time_day,time_hour,time_minute,time_second,time_day_of_week
0,4,868,227,154,-39864,Chickensplit Half,NaN,Pakistan,None,2013-06-26 13:50:36,2013,6,26,13,50,36,4
1,882,940,572,154,59358,Compound - Rum,NaN,Pakistan,None,2015-11-08 14:54:40,2015,11,8,14,54,40,1
2,278,634,227,246,-29243,Chickensplit Half,NaN,Philippines,None,2015-02-23 19:01:41,2015,2,23,19,1,41,2
3,254,634,358,201,-29247,Wine - Jaboulet Cotes Du Rhone,NaN,Indonesia,None,2015-02-23 19:01:41,2015,2,23,19,1,41,2
4,424,331,986,246,-64625,Spinach - Baby,NaN,Philippines,None,2014-06-07 07:05:13,2014,6,7,7,5,13,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,942,602,322,814,70207,"Beer - Alexander Kieths, Pale Ale",NaN,Brazil,None,2015-12-17 23:17:12,2015,12,17,23,17,12,5
996,950,435,160,540,-57588,"Soup - Knorr, Chicken Gumbo",NaN,Belarus,None,2014-05-13 14:59:54,2014,5,13,14,59,54,3
997,956,137,671,90,-85118,Sprouts Dikon,NaN,China,None,2014-10-13 06:22:48,2014,10,13,6,22,48,2
998,966,474,423,40,1333,"Fish - Base, Bouillion",NaN,Philippines,None,2017-03-06 09:18:33,2017,3,6,9,18,33,2
999,994,1,166,996,59098,Canada Dry,NaN,Philippines,None,2017-10-11 19:52:57,2017,10,11,19,52,57,4

In [28]:
final_df_for_export = final_df[['product_name', 'time_datetime', 'region_name', 'transaction_amount']]
final_df_for_export['time_datetime'] = final_df_for_export['time_datetime'].apply(pd.to_datetime)

final_df_for_export.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_name        1000 non-null   object
 1   time_datetime       1000 non-null   datetime64[ns]
 2   region_name         1000 non-null   object
 3   transaction_amount  1000 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 39.1+ KB

<ipython-input-28-161983130a14>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df_for_export['time_datetime'] = final_df_for_export['time_datetime'].apply(pd.to_datetime)

In [29]:
#добавление поля с условием
final_df_for_export.loc[final_df_for_export['transaction_amount'] > 0, 'transaction_flag'] = 'positive'
final_df_for_export.loc[final_df_for_export['transaction_amount'] < 0, 'transaction_flag'] = 'negative'
final_df_for_export

C:\Users\Asus\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\Asus\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Asus\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,product_name,time_datetime,region_name,transaction_amount,transaction_flag
0,Chickensplit Half,2013-06-26 13:50:36,Pakistan,-39864,negative
1,Compound - Rum,2015-11-08 14:54:40,Pakistan,59358,positive
2,Chickensplit Half,2015-02-23 19:01:41,Philippines,-29243,negative
3,Wine - Jaboulet Cotes Du Rhone,2015-02-23 19:01:41,Indonesia,-29247,negative
4,Spinach - Baby,2014-06-07 07:05:13,Philippines,-64625,negative
...,...,...,...,...,...
995,"Beer - Alexander Kieths, Pale Ale",2015-12-17 23:17:12,Brazil,70207,positive
996,"Soup - Knorr, Chicken Gumbo",2014-05-13 14:59:54,Belarus,-57588,negative
997,Sprouts Dikon,2014-10-13 06:22:48,China,-85118,negative
998,"Fish - Base, Bouillion",2017-03-06 09:18:33,Philippines,1333,positive
999,Canada Dry,2017-10-11 19:52:57,Philippines,59098,positive

In [30]:
#добавляем сложные условия и применяем к новому полю
conditions = [
    (final_df_for_export['transaction_amount'] < 0),
    (final_df_for_export['transaction_amount'] > 0) & (final_df_for_export['transaction_amount'] < 30000),
    (final_df_for_export['transaction_amount'] > 30000) & (final_df_for_export['transaction_amount'] < 50000),
    (final_df_for_export['transaction_amount'] > 50000)
]

values = [
    'loss',
    'minimal',
    'medium',
    'high'
]

final_df_for_export['transaction__amount_category'] = np.select(conditions, values)

final_df_for_export

<ipython-input-30-5e7416ed5f99>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df_for_export['transaction__amount_category'] = np.select(conditions, values)

,product_name,time_datetime,region_name,transaction_amount,transaction_flag,transaction__amount_category
0,Chickensplit Half,2013-06-26 13:50:36,Pakistan,-39864,negative,loss
1,Compound - Rum,2015-11-08 14:54:40,Pakistan,59358,positive,high
2,Chickensplit Half,2015-02-23 19:01:41,Philippines,-29243,negative,loss
3,Wine - Jaboulet Cotes Du Rhone,2015-02-23 19:01:41,Indonesia,-29247,negative,loss
4,Spinach - Baby,2014-06-07 07:05:13,Philippines,-64625,negative,loss
...,...,...,...,...,...,...
995,"Beer - Alexander Kieths, Pale Ale",2015-12-17 23:17:12,Brazil,70207,positive,high
996,"Soup - Knorr, Chicken Gumbo",2014-05-13 14:59:54,Belarus,-57588,negative,loss
997,Sprouts Dikon,2014-10-13 06:22:48,China,-85118,negative,loss
998,"Fish - Base, Bouillion",2017-03-06 09:18:33,Philippines,1333,positive,minimal
999,Canada Dry,2017-10-11 19:52:57,Philippines,59098,positive,high

In [31]:
#экспортируем файлы в формате xlsx
final_df_for_export.to_excel('final_df.xlsx')

In [44]:
import sqlalchemy

In [45]:
#создаем подключение к Базе Данных 

engine =sqlalchemy.create_engine('postgresql://postgres:localhost@localhost/postgres') 
con = engine.connect()

table_name = 'final_df'
schema_name = 'test'
final_df_for_export.to_sql(table_name, con, schema = schema_name)